body {
    font-family: "Microsoft YaHei", "Monospace";
}
.carousel-inner > .item > img {
    width: 100%;
}
.my-container {
    padding-top: 2em;
    padding-bottom: 4em;
}
.my-container > .row > .title > h1 {
    font-size: 30px;
    color: #666;
}
.link-all-products {
    margin-left: 3em;
}

.learn-more a{
    margin-top: 3.5em;
    font-size: 23px;
    line-height: 50px;
    display: inline-block;
    width: 220px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    background-color: #9bc200;
}
.hot-product img {
    width: 100%;
}
.hot-product h4 {
    margin-top: 2.5em;
}
.container-company {
    width: 100%;
    padding: 0px;
    background-color: #f3f3f3;
    padding-top: 2em;
    padding-bottom: 4em;
}
.container-company > .title {
    margin-bottom: 3em;
}
.container-company > .title > h1 {
    font-size: 30px;
    color: #666;
}
.navbar-brand > img {
    height: 100%;
}
.navbar-brand {
    padding-top: 0em;
    padding-bottom: 0em;
}