{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock css %}

{% block main %}
<section id="info-container">
  <!-- <div id="home">home</div> -->
  <div id="home">
    <div class="carousel-intro">
      <div id="tv-carousel-general" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--   <ol class="carousel-indicators">
        <li data-target="#tv-carousel-general" data-slide-to="0" class="active"></li>
        <li data-target="#tv-carousel-general" data-slide-to="1"></li>
        <li data-target="#tv-carousel-general" data-slide-to="2"></li>
      </ol> -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for p in products %}
        <div class="item {% if forloop.counter == 1 %} active {% endif %}">
          <div class="item-contain">
            <div class="info">
                <img src="{% static p.index_img %}" alt="xxx电视" />
              <div class="info-text">
                <h1>{{ p.name }}</h1>
                <p>{{ p.intro }}</p>
                <a class="detail-btn" href="{% url 'product_detail' p.id %}">Detail</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#tv-carousel-general" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#tv-carousel-general" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</div>
<div id="about">

  <div class="container">
    <div class="row">
      <div class="about-company">
        <div class="col-md-12 about-pic">
          <img src="{% static 'img/carousel1.jpg' %}"/>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock main %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock js %}
